<!-- views/alphabetical.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>Alphabetical | CSE 135 HW3 </title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!--If browser does not support js -->
    <noscript> Your browswer does not support JavaScript!</noscript>

	<header class="container headerContainer">
		<div class="row col-md-12">
			<h1><%= firstName %>'s Soundboard.</h1>
        </div>
    </header>
    
    <div class="container wrapper">
        <!-- NAV BAR edited to PULLDOWN  -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
	  		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  			<span class="icon-bar"></span>
	     		<span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>

	      <div class="collapse navbar-collapse" id="navbarNav">
	        <ul class="nav navbar-nav navbar-right">
	          <li class="active">
              <a href="/app" id="home">Home </a>
            </li>
	          <li>
	          	<a href="/app/public" id="publicOpt">Public</a>
            </li>
            <li>
	          	<a href="/app/private"id="privateOpt">Private</a>
	          </li>
            <li>
              <a href="#" id="alphabetical">Alphabetical</a>
            </li>
            <li>
              <a href="/app/list" id="list">List</a>
          </li>
          <li>
          <a href="/logout" id="logout">Logout</a>
          </li>
      </ul>
	      </div>
	    </div>
	  </nav>
 
      <main class="containerMain">
          <div class="row" id="soundBoard">
			<% for (var i = 0; i < data.length; i++) { %>
				<a href="/app/<%= userid %>/soundboard/<%= data[i].sbid %>">
					<div class="col-md-4 col-sm-6 soundThumb">
                        <div id="dashboard-img" style="background-image: url('<%= data[i].thumbnail %>');">
                        </div>
                          <h3>
                            <%= data[i].title + " " %>
                            <% if (data[i].public == 1){ %>
                              <%- "<img src='/img/glyphiconsunlock.png' alt='public' id='unlock'>" %> 
                             <%} 
                               else if (data[i].public == 0){ %> 
                                 <%- "<img src='/img/glyphiconslock.png' alt='private' id='lock'>" %>
                             <%}%>
                          </h3>  
					</div>
				</a>
            <% } %>
        </div>
		</main>

        <footer class="footerContainer">
            <div class="row col-md-12 footerContent">
            <p>Disclaimer: We do not own any of the characters or sounds on this soundboard. All copyrights belong to their respective creators.</p>
            </div>
        </footer>
	</div>

		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/dashboard.js"></script>
</body>
</html>
