<!-- views/dashboard.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>Dashboard | CSE 135 HW3 </title>
	<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

	<div class="container">
		<header id="dashboard-header">
			<h1><%= firstName %>'s Soundboard.</h1>
		</header>

		<main id="dashboard-main">
			<% for (var i = 0; i < data.length; i++) { %>
				<a href="/app/<%= userid %>/soundboard/<%= data[i].sbid %>">
					<div id="dashboard-thumb">
						<div id="dashboard-img">
							<img src="<%= data[i].thumbnail %>">
						</div>
                        <div id="dashboard-title">
                          <h2>
                            <%= data[i].title + " " %>
                            <% if (data[i].public == 1){ %>
                              <%- "<img src='/img/glyphiconsunlock.png' alt='public' id='unlock'>" %> 
                             <%  } 
                               else if (data[i].public == 0){ %> 
                                 <%- "<img src='/img/glyphiconslock.png' alt='private' id='lock'>" %>
                              <% }%>
                          </h2>  
						</div>
					</div>
				</a>
			<% } %>
		</main>

		<footer>
			<h3><a href="/logout">Logout</a></h3>
		</footer>
	</div>

	<script src="/js/dashboard.js"></script>
</body>
</html>
