<!-- views/soundboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Soundboard | CSE 135 HW3 </title>
	<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

	<div class="container">
		<header id="dashboard-header">
			<h1>Soundboard:<i><%= title %></i></h1>
		</header>

		<section id="dashboard-upload">

			<!-- Trigger/Open modal -->
			<button id="addSoundBtn">Add Sound</button>
			
			<!-- The modal -->
			<div id="addSoundModal" class="soundboardModal">
				<!-- Modal content -->
				<div class="addSoundMenuContent">
					<span class="close">&times;</span>
					<h1>Add sound</h1>
					<form id				= "uploadForm"
								enctype		= "multipart/form-data"
								action 		= "/app/upload"
								method 		= "POST"
					>
						<label for="soundName"><i>Name: </i>
							<input type="text" name="soundName" id="soundName"
								placeholder="Name" required></input>
							</label>
						</label>
						<br>
						<label for="userFile"><i>Image: </i>
							<input type="file" name="userFile" id="imgInput" required></input>
							</label>
						</label>
						<br>
						<label for="userFile"><i>Sound: </i>
							<input type="file" name="userFile" id="soundInput" required></input>
							</label>
						</label>
						<br>
						<input type="submit" value="Upload" name="submit">
					</form>
				</div>

			</div>
		</section>

		<main id="dashboard-main">
			<% for (var i = 0; i < data.length; i++) { %>
				<div id="dashboard-thumb" data-no="<%= i %>">
					<div id="dashboard-thumb-content">
						<div id="dashboard-img" style="background-image: url('<%= data[i].image %>'); background-position: center center; background-size: cover" onclick="playAudio()">
						</div>
						<div id="dashboard-title">
							<h2><%= data[i].name %></h2>
							<span class="sbEdit"><button id="editSoundBtn" onclick="showModal('<%= data[i].soundid %>','<%= data[i].name %>', <%= i %>)">&#xe065;</button></span>
							
							<div id="editM" class="editModal editSoundModal">
								<div class="editSoundContent">
									<span id="editClose" class="close">&times;</span>

									<form>
										<label for="soundName">Sound Name: 
											<input id="editSoundName" type="text" name="soundName" placeholder="<%= data[i].name %>">
										</label>
										<br>
										<button onclick="editSound(<%= data[i].soundid %>)" id="editBtn">Change</button>
									</form>
									
									<button onclick="deleteSound(<%= data[i].soundid %>)" class="deleteSound">Delete Sound.</button>

								</div>
							</div>

						</div>

						<div id="soundboard-sound">
							<audio id="<%= data[i].soundid %>" data-src="<%= data[i].sound %>" controls>
								<source src="<%= data[i].sound %>">
							</audio>
						</div>
					</div>
				</div>
			<% } %>
		</main>

		<footer>
			<button onclick="deleteBoard(<%= sbid %>)" id="deleteBoardBtn">Delete Board.</button>
		</footer>
	</div>

	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/soundboard.js"></script>
	
</body>
</html>